%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %title {% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}
  %meta{:content => "width=device-width", :name => "viewport"}/
  %meta{:content => "{{ site.description }}", :name => "description"}/
  %link{:href => "{{ site.url }}{{ page.url | replace:'index.html','' }}", :rel => "canonical"}/
  / Custom CSS
  %link{:href => "/css/main.css", :rel => "stylesheet"}/
